/* COLORS */
$indigo: #4A0593;
$plum: #6F0F8C;
$fuchsia: #AF50AF;
$shocking-pink: #F66CF7;
$magenta: #EF21EE;
$purple: #A317F2;
$ruby: #CF1757;
$black: #000;
$white: #fff;

$dark-teal: #1b2838;
$screen-background: #121010;
$lime: lime; // TODO: FIND THIS HEXCODE


$font-family: "Terminal";
$font-size: 20px;
