/* COLORS */
@font-face {
  font-family: Inter, sans-serif, sans-serif;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Monofett, serif, serif;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Bungee Shade", sans-serif, serif;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Mr Dafoe", cursive, cursive;
  font-style: normal;
  font-weight: 700;
}
#__nuxt {
  background-color: black;
  color: #2de2e6;
}

body {
  margin: 0;
}

html {
  box-sizing: border-box;
  color: #000;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
}

b,
strong {
  font-weight: 600;
}

picture {
  display: block;
  line-height: 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  color: #000;
}

a {
  text-decoration: none;
}
a.no-pointer {
  cursor: initial;
}
p a:not(.button), .accordion li a:not(.button) {
  border-bottom: 1px dotted #000;
  color: #000;
}
p a:not(.button):hover, .accordion li a:not(.button):hover {
  border-bottom-color: #A317F2;
  color: #A317F2;
}

figure {
  margin: 0;
}
figure.border img {
  box-sizing: border-box;
}

video {
  max-width: 100%;
}

::selection {
  background: #A317F2;
  color: #fff;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}
ul li,
ol li {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

input {
  box-sizing: border-box;
}
input:focus {
  outline: none;
}

dd {
  margin-left: 0;
}

sup {
  top: -0.3em;
}

.layout-synthwave {
  color: #fff;
  background: black;
  background-image: linear-gradient(to right, #141e30, #243b55);
}
.layout-synthwave .heading {
  margin-top: -70px;
}
.layout-synthwave .heading h1 {
  justify-content: center;
  display: flex;
}
.layout-synthwave .heading h1 .main {
  font-size: 50px;
  font-family: "Bungee Shade", sans-serif, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10rem;
  line-height: 12.7rem;
  background-image: linear-gradient(0deg, #860086 0%, #880afd 30%, #d7bdfc 40%, #e8d8ff 44%, #1b0c1c 44%, #1b0c1c 50%, #3f0767 52%, #8f1cfe 60%, #bd7ffe 62%, #c496fc 70%, #830ffa 73%, #870bfd 88%, #d1afff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}
@media (max-width: 82em) {
  .layout-synthwave .heading h1 .main {
    font-size: 7rem;
    line-height: 8rem;
  }
}
.layout-synthwave .heading h1 .accent {
  font-size: 50px;
  background-image: initial;
  color: #F66CF7;
  font-family: "Mr Dafoe", cursive, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15rem;
  line-height: 17.7rem;
  margin-left: -30px;
}
@media (max-width: 82em) {
  .layout-synthwave .heading h1 .accent {
    font-size: 10rem;
    line-height: 12rem;
  }
}

.nav-toggle {
  width: 32px;
  height: 32px;
}
.nav-toggle span {
  height: 4px;
  border-radius: 1px;
}
.nav-toggle span:nth-child(1) {
  top: 4px;
}
.nav-toggle span:nth-child(2) {
  top: 14px;
}
.nav-toggle span:nth-child(3) {
  top: 24px;
}
.nav-toggle.open span:nth-child(1) {
  transform: rotate(45deg);
}
.nav-toggle.open span:nth-child(2) {
  top: 14px;
}
.nav-toggle.open span:nth-child(3) {
  top: 25px;
  left: 4px;
}

.nav-overlay {
  top: 16px;
  left: 16px;
  background-image: linear-gradient(180deg, #FF512F 10%, #FF512F 50%, #DD2476 90%);
}

/*# sourceMappingURL=styles.css.map */
