.layout-synthwave {
  color: $white;
  background: rgb(0, 0, 0);
  background-image: $bg-gradient;

  .heading{
    margin-top: -70px;
    @media ($media-large){
      margin-top: -200px;
    }
    h1{
      justify-content: center;
      display: flex;
      .main{
        @include t-level-1;
        background-image: $hero-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #fff;
      }
      .accent{
        background-image: initial;
        color: $shocking-pink;
        @include t-level-2;

        margin-left: -30px;
        @media ($media-small){
          margin-left: 0px;
        }
      }
    }
  }
}
