.layout-synthwave {
  color: $white;
  background: rgb(0, 0, 0);
  background-image: $bg-gradient;

  .heading{
    h1{
      justify-content: center;
      display: flex;
      .main{
        font-size: 50px;
        @include t-level-1;
        background-image: $hero-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #fff;
      }
      .accent{
        font-size: 50px;
        background-image: initial;
        color: $shocking-pink;
        @include t-level-2;
      }
    }
  }
}

