.layout-synthwave{
  color: $white;
  a{
    color: $white;
    }
  .page-wrapper{
    position: relative;
    z-index: 10;
    }


  }
.page {
  padding: 20px;
  @include t-copy;
  .intro {
    @include t-intro;
    text-align: center;
    margin-bottom: 50px;
  }
  .cta-links{
    margin-bottom: 50px;
    .link{
      //outline: 0px solid $white;
      //@include animate;
      &:hover{
        //outline: 1px solid $white;
      }
      padding: 25px;
    }

    a.button{
      &:hover {
        box-shadow: $button-shadow;
      }
    }
  }
  .accordion-item{
    &__heading{
      @include animate;
      @include t-level-3;
    }
    &__content{
      @include t-copy;
      backdrop-filter: blur(5px);
      a {
        @include animate;
      }
    }
    &.active {
      box-shadow: $button-shadow;
    }
    &:hover {
      z-index: 2;
      box-shadow: $button-shadow;
      border-bottom: 1px solid plum;
    }
  }
}


@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */

  .grid {
    display: none;
    }
  }

@supports not (-webkit-touch-callout: none) {
  /* CSS for other than iOS devices */
  }
