@mixin t-level-1
{
  @include font-bungee-shade;

  font-size: 12rem;
  line-height: 13rem;

  @media ($media-small){
    font-size: 4rem;
    line-height: 5rem;
  }
  @media ($media-medium){
    font-size: 7rem;
    line-height: 8rem;
  }
}

@mixin t-level-2
{
  @include font-mr-dafoe;

  font-size: 15rem;
  line-height: 17.7rem;

  @media ($media-small){
    font-size: 4rem;
    line-height: 5rem;
  }
  @media ($media-medium){
    font-size: 10rem;
    line-height: 12rem;
  }
}

@mixin t-level-3
{
  @include font-share;
  font-size: 2.5rem;
}
@mixin t-intro
{
  @include font-share;
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 600;
}

@mixin t-copy
{
  @include font-lekton;
  font-size: 1.5rem;
  line-height: 2rem;
}
