@mixin t-level-1
{
  @include font-bungee-shade;

  font-size: 10rem;
  line-height: 12.7rem;

  @media ($media-medium-down)
  {
    font-size: 7rem;
    line-height: 8rem;
  }
}

@mixin t-level-2
{
  @include font-mr-dafoe;

  font-size: 15rem;
  line-height: 17.7rem;

  @media ($media-medium-down)
  {
    font-size: 10rem;
    line-height: 12rem;
  }
}
