/* COLORS */
//logo colors
$indigo: #4A0593;
$plum: #6F0F8C;
$fuchsia: #AF50AF;
$shocking-pink: #F66CF7;
$magenta: #EF21EE;
$purple: #A317F2;
$ruby: #CF1757;
$black: #000;
$white: #fff;

//theme colors
$pumpkin: #ff6c11;
$turquoise: #2de2e6;
$gold: #f9c80e;
$magic-potion: #ff4365;

//gradients
$hero-gradient: linear-gradient(0deg, rgba(134, 0, 134, 1) 0%, rgba(136, 10, 253, 1) 30%, rgba(215, 189, 252, 1) 40%, rgba(232, 216, 255, 1) 44%, rgba(27, 12, 28, 1) 44%, rgba(27, 12, 28, 1) 50%, rgba(63, 7, 103, 1) 52%, rgba(143, 28, 254, 1) 60%, rgba(189, 127, 254, 1) 62%, rgba(196, 150, 252, 1) 70%, rgba(131, 15, 250, 1) 73%, rgba(135, 11, 253, 1) 88%, rgba(209, 175, 255, 1) 100%);
$bg-gradient: linear-gradient(to right, #141e30, #243b55);
$red-hero-gradient: linear-gradient(0deg, rgba(134, 12, 0, 1) 0%, rgba(253, 0, 79, 1) 30%, rgba(252, 189, 220, 1) 40%, rgba(255, 216, 235, 1) 44%, rgba(28, 13, 12, 1) 44%, rgba(28, 13, 12, 1) 50%, rgba(103, 7, 27, 1) 52%, rgba(254, 28, 103, 1) 60%, rgba(254, 127, 173, 1) 62%, rgba(252, 150, 194, 1) 70%, rgba(250, 15, 99, 1) 73%, rgba(253, 11, 90, 1) 88%, rgba(255, 175, 213, 1) 100%);
$blue-hero-gradient: linear-gradient(0deg, rgba(0, 70, 134, 1) 0%, rgba(0, 253, 232, 1) 30%, rgba(189, 252, 235, 1) 40%, rgba(216, 255, 245, 1) 44%, rgba(12, 21, 28, 1) 44%, rgba(12, 21, 28, 1) 50%, rgba(7, 100, 103, 1) 52%, rgba(28, 254, 231, 1) 60%, rgba(127, 254, 237, 1) 62%, rgba(150, 252, 231, 1) 70%, rgba(15, 250, 219, 1) 73%, rgba(11, 253, 229, 1) 88%, rgba(175, 255, 235, 1) 100%);
$coral-gradient: linear-gradient(to right, #ff9966, #ff5e62);
$vibrant-gradient: linear-gradient(90deg, #00ffee, #00f1ff, #00e0ff, #00caff, #3cadff, #a989ff, #e35ae4, #ff00a2);


//animation colors
$dark-teal: #261447;
$screen-background: #0d0221;
$lime: lime; // TODO: FIND THIS HEXCODE

$font-family: "Terminal";
$font-size: 20px;

// Z Index
$z-base: 100;
$z-header: $z-base + 20;
$z-navigation: $z-base + 10;
$z-modal: $z-base + 30;
$z-overlay: $z-base + 100;

// Default Animation Values
$transition-speed-slow: 325ms;
$transition-speed: 250ms;
$transition-speed-fast: 175ms;

// Sizes

// Media Queries
$media-small: 'max-width: 43em';
$media-small-landscape: 'max-width: 63em) and (orientation: landscape';
$media-medium-up: 'min-width: 43em';
$media-medium: 'min-width: 43em) and (max-width: 82em';
$media-medium-down: 'max-width: 82em';
$media-large: 'min-width: 82em';
$media-large-landscape: 'min-width: 63em) and (orientation: landscape';
$media-card-small: 'max-width: 54em';
$media-card-large: 'min-width: 54em';
$media-footer-small: 'max-width: 50em';
$media-footer-medium-up: 'min-width: 50em';
$media-footer-medium: 'min-width: 50em) and (max-width: 82em';

// HTML Entities
$amp: '\46';
$lt: '\74';
$gt: '\76';
$cent: '\242';
$copy: '\252';
$laquo: '\253';
$reg: '\256';
$deg: '\260';
$raquo: '\273';
$divide: '\367';
$ndash: '\2013';
$mdash: '\2014';
$ldquo: '\201C';
$rdquo: '\201D';
$bull: '\2022';
$lsaquo: '\2039';
$rsaquo: '\203A';
$bull-square: '\2219';
$hellip: '\2026';
$trade: '\2122';
$lang: '\2329';
$rang: '\232A';
